<div id="header"></div>
{{#test data.category '==' 1}}
    @include tpl/domestic_oneway
{{/test}}
{{#test data.category '==' 2}}
    @include tpl/domestic_roundway
{{/test}}
{{#test data.category '==' 3}}
    @include tpl/inter_oneway
{{/test}}
{{#test data.category '==' 4}}
    @include tpl/inter_roundway
{{/test}}